<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4>Demo</h4>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/userslist">Users List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <li><a style="cursor: pointer;" (click)="onLogout()"
          *ngIf="authService.isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
