<div class="box">
  <div class="box-header with-border">
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px; margin-top: 7px;">
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="Username">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>User Name</th>
        <th>User's Email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of users | async;let i = index;">
        <td>{{i + 1}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="update(user)"><span class="glyphicon glyphicon-pencil"></span>Modify</a>
          <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Delete</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
